<div class="hero-unit">
    <h1>To do list</h1>

    <p ng-repeat="todo in todos">
        <label for="todo-{{ $index }}" class="done-{{ todo.done }} checkbox inline">
            <input id="todo-{{ $index }}" type="checkbox" ng-model="todo.done">
            {{ todo.text }}
        </label>
        <button ng-click="delete($index)" class="btn btn-danger">Delete</button>
    </p>

    <form ng-submit="add()" class="input-append">
        <input type="text" ng-model="task">
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <div>
        <button ng-click="clear()" class="btn btn-danger">Clear</button>
    </div>
</div>
